{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>AyurVichar | {% block title %}{% endblock title %}</title>

    {% block head %}
    {% endblock head %}

</head>

<body>

    <header>
        <section id="navbar">
            <nav>
                <div class="logo font-large">
                    <img src="{% static 'img/yoga 2 1.png' %}" alt="">
                </div>
                <div class="nav-links">
                    <a href="#"><span class="font-mid-medium">Home</span></a>
                    <a href="#"><span class="font-mid-medium">About</span></a>
                    <a href="#"><span class="font-mid-medium">Services</span></a>
                    <a href="#"><span class="font-mid-medium">Contact</span></a>
                    <a href="#"><span class="font-mid-medium btn">Log in</span></a>
                    <a href="#"><span class="font-mid-medium btn-border">Sign up</span></a>
                </div>
            </nav>
        </section>
    </header>


    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <span class="footer-heading font-large">AYURVICHAR</span>
        <div class="footer-items">
            <div>
                <p>Contact us</p>
                <span>+91 xxxxxxxxxx</span>
                <span>+91 xxxxxxxxxx</span>
            </div>
            <div>
                <p>Information</p>
                <span>About us</span>
                <span>More Search</span>
                <span>Services</span>
                <span>Blogs</span>
                <span>Testimonials</span>
                <span>Events</span>
            </div>
            <div>
                <p>Helpful Links</p>
                <span></span>
                <span></span>
            </div>
            <div class="email-box">
                <p>Stay tuned with us:</p>
                <input type="text">
                <span class="btn"> Subscribe</span>
            </div>
        </div>
        <div class="white-line"></div>
        <div class="solve-ease-tag">
            <p class="font-ss">Designed & Developed with <i id="heart" class=' bx bxs-heart'></i> Love by <span><a
                        class="ad-link" href="">Solve-Ease</a></span> &copy;
                2023
            </p>
        </div>
    </footer>


    {% block script %}

    {% endblock script %}



</body>

</html>
